aside {
  position: fixed;
  width: 350px;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  z-index: 50;
  /* border: 1px solid red; */
  background: url(/aside/background.png) no-repeat left center;
}

#island {
  width: 350px;
  z-index: 80;
}

.center {
  width: 50%;
}

.vertical-center {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.tag-cloud-container {
	position: absolute;
	top: 59%;
	left: 50%;
	z-index: 90;
	transform: translate(-50%, -50%);
	width: 185px;
	height: 150px;
	display: block;
	overflow: hidden;
	margin-top: 0.5em;
	/* border: 1px solid red; */
}

.tag-cloud-left {
	        shape-outside: url(/aside/shape-left.svg);
	-webkit-shape-outside: url(/aside/shape-left.svg);
  float: left;
	width: 90px;
	height: 100%;
}

.tag-cloud-right {
					shape-outside: url(/aside/shape-right.svg);
	-webkit-shape-outside: url(/aside/shape-right.svg);
  float: right;
	width: 65px;
	height: 100%;
}

.tag-cloud > a {
  color: blue; 
  text-decoration: none;
	overflow: hidden;
}

.tag-cloud > a:hover {
  color: blue;
  text-decoration: underline;
}

/* this is the main title link inside island.svg */
#titleText {
  text-decoration: none;
}

#titleText:hover {
  text-decoration: underline;
}

/* TODO why does the boat underline fail? */
#aboutBoat {
	position: absolute;
	top: 52%;
	left: 66%;
	width: 10%;
	height: 55px;
	margin: 30px;
	z-index: 100; /* TODO why does this not work */
}

#aboutBoat:hover {
  border-bottom: 2px solid blue;
}

footer#watermark {
  font-size: 10pt;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
	padding-bottom: 10px;
}

@media screen and (max-width: 750px) {
  aside {
		position: absolute;
		left: -9999px;
  }
}
