aside {
  position: fixed;
  width: 350px;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  z-index: 50;
  /* border: 1px solid red; */
  background: url(/aside/background.png) no-repeat left center;
}

#island {
  width: 350px;
  z-index: 80;
}

.center {
  width: 50%;
}

.vertical-center {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.tag-cloud-container {
	position: absolute;
	top: 60%;
	left: 50%;
	z-index: 100;
	transform: translate(-50%, -50%);
	width: 70%;
	height: 10%;
}

.tag-cloud-left {
  shape-outside: url(/aside/shape-left.svg);
  float: left;
  width: 75%;
  height: 100%;
}

.tag-cloud-right {
  shape-outside: url(/aside/shape-right.svg);
  float: right;
  width: 67%;
  height: 100%;
  z-index: 100;
}

.tag-cloud-right > a {
  color: darkblue;
  text-decoration: none;
}

.tag-cloud-right > a:hover {
  color: blue;
  text-decoration: underline;
}

/* this is the main title link inside island.svg */
#text3815 {
  text-decoration: none;
}

#text3815:hover {
  text-decoration: underline;
}

/* TODO why does the boat underline fail? */
#a76:hover {
  border-bottom: 2px solid blue;
}

footer#watermark {
  font-size: 10pt;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
	padding-bottom: 10px;
}

@media screen and (max-width: 750px) {
  aside {
		position: absolute;
		left: -9999px;
  }
}
