header {
	padding: 0;
	height: 50px;
	position: absolute;
	top: 0;
	width: 100%;
  /* display: none !important; */
  position: absolute;
  left: -999px;
	background: #e9feffff;
	border-bottom: 4px solid #00ddff;
	text-align: center;
	font-family: monospace;
	z-index: 0;
}

/* small island svg */
header > a > #svg3722 {
	position: absolute;
	top: 0;
	left: 0;
}

/* header title link */
header > a {
	text-decoration: none;
	z-index: 100;
}

header > a:hover {
	text-decoration: underline;
}

@media screen and (max-width: 750px) {
	header {
		/* display: inline !important; */
		left: 0;
	}
	main {
		height: calc(100% - 55px);
	}
}
