header {
	height: 50px;
	position: fixed;
	top: 0;
	width: 100%;
  left: -99999px;
	background: #e9feffff;
	border-bottom: 4px solid #00ddff;
	text-align: center;
	font-family: monospace;
	z-index: 10;
}

/* small island svg */
header > a > #svg3722 {
	position: absolute;
	top: 0;
	left: 0;
}

/* header title link */
header > a {
	text-decoration: none;
	z-index: 100;
}

header > a:hover {
	text-decoration: underline;
}

@media screen and ((max-width: 800px) or (max-height: 600px)) {
	header {
		left: 0;
	}
	main {
		position: absolute;
		height: calc(100% - 80px);
		width: calc(100% - 40px);
		margin: 10px;
		margin-top: 70px;
	}
}
