.postLink {
    text-decoration: none;
}

.postLink:hover {
    text-decoration: underline;
}

div.toc  .header {
  border-bottom: 1px solid black;
  font-weight: bold;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

div.toc {
  float: right;
  /* background-color: lightblue; */
  margin-left: 1em;
  margin-bottom: 2em;
  margin-right: 1em;
  margin-top: -3em;
  padding: 1em;
  max-width: 50%;
}

@media screen and (max-width: 750px) {
}
