/* desktop version */

main {
  position: absolute;
  left: 0;
}

header {
  position: absolute;
  left: -9999px;
}

html {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 50;
  /* border: 1px solid red; */
}

#island {
  z-index: 80;
  width: 100%;
  max-height: 100%;
}

/* mobile version, which should only show the island */
@media screen and (max-width: 750px) {
  html {
    background: url(/aside/background.png) repeat-x left center;
  }
  header {
    position: absolute;
    left: -9999px;
  }

  main {
    position: absolute;
    left: -9999px;
  }

  aside {
    position: absolute;
    left: 0;
		top: 0;
		width: 100%;
		height: 100%;
  }

	#aboutBoat {
		height: 90px;
		margin: 50px; /* seems to be required to get it out from under the tag cloud */
	}

	.tag-cloud-container {
		top: 60%;
		left: 48%;
		width: 60%;
	}

	.tag-cloud-left {
	  width: 120px;
	}
}
	.tag-cloud-right {
	  width: 120px;
	}
}
