* {
    /* for debugging: */
    /* border: 1px solid red; */
}

a {
  color: black;
}

html {
	background: #FDF6E3;
	padding: 0;
}

/* parent div to help main + aside fill the page */
main {
	position: absolute;
	width: 100%;
	height: auto;
	margin: 10px;
	width: calc(100% - 385px);
}

body {
    color: black;
    font-size: 16px;
}

div#logo a {
    color: black;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

ul {
  list-style-type: none;
}

@media screen and (max-width: 750px) {
}
