* {
    /* for debugging: */
    /* border: 1px solid red; */
}

a {
  color: black;
}

header, footer {
  /* height: 20px; */
	/* position: fixed; */
	/* left: 0; */
	/* right: 0; */
	/* border: 1px solid red; */
}

html {
	background: #fff9e8;
}

/* parent div to help main + aside fill the page */
#parent {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #fff9e8;
}

main {
	/* border: 1px solid blue; */
	width: calc(100% - 375px);
	/* height: calc(100% - 85px); */
	overflow: auto;
}

body {
    color: black;
    font-size: 16px;
    /* margin: 0px auto 0px auto; */
    /* max-width: 600px; */
    margin: auto;
}


/* .clearfix::after {
	content: "";
	clear: both;
	display: table;
} */

#content {
	padding: 20px;
}

div#logo a {
    color: black;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

/* div#header #navigation {
    text-align: right;
} */

/* div#header #navigation a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
} */

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

ul {
  list-style-type: none;
  padding: 0px 0px 0px 10px;
}

@media screen and (max-width: 750px) {
	parent {
		height: calc(100% - 55px); /* TODO why is this needed? */
	}
	main {
		height: calc(100% - 55px);
		width: calc(100% - 40px);
	}
	#content {
		margin-top: 55px;
	}
}
