* {
    /* for debugging: */
    /* border: 1px solid red; */
}

a {
  color: black;
}

html {
	background: #FDF6E3;
	padding: 0;
}

/* parent div to help main + aside fill the page */
main {
	position: absolute;
	width: 100%;
	height: auto;
	margin: 10px;
	width: calc(100% - 385px);
}

body {
    color: black;
    font-size: 16px;
}

div#logo a {
    color: black;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 14px;
}

/* see https://css-tricks.com/hash-tag-links-padding/ */
h1::before, h2::before, h3::before { 
  display: block; 
  content: " "; 
  margin-top: -10px; /* undoes the 50px header thing below */
  height: 10px;      /* undoes the 50px header thing below */
  visibility: hidden; 
  pointer-events: none;
}

div.toc > ul {
  list-style: decimal;
}

@media screen and (max-width: 750px) {
  /* see https://css-tricks.com/hash-tag-links-padding/ */
  h1::before, h2::before, h3::before { 
    margin-top: -60px; /* height of header + 10 */
    height: 60px;      /* height of header + 10 */
  }
}
